#menuSection {
  left: 10;
  top: 65;
  width: 700;
}

#samples {
  padding-left: 5px;
  padding-right: 3px;
}

#inputImage {
  max-width: 100%;
  max-height: 300px;
}

#imageContent {
  max-width: 100%;
  max-height: 100%;
}

#drawingCanvas {
  display: flexbox;
  margin-bottom: 10px;
  cursor: crosshair;
  border-radius: 3px;
  border-width: 1px;
  border-color: #999999;
  border-style: solid;
}

#cy {
  position: relative;
  left: 0;
  top: 0;
  height: 625;
  margin-right: 10;
  margin-bottom: 10;
  z-index: 999;
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: 1px;
}

h1 {
  opacity: 0.5;
  font-size: 1.15em;
  font-weight: bold;
}

#demoSamples {
  padding-left: 5px;
}

#downloadSBGNML:hover, #uploadGraph:hover, #openNewt:hover {
  background-color: #eaeaea !important;
  border-radius: 3px;
  cursor: pointer;
}

#submitEdit:hover {
  cursor: pointer;
}

#processData, #applyLayout, #refineLayout, #mergeButton, #splitButton {
  background-color: #d67664;
}

#processData:hover, #applyLayout:hover, #refineLayout:hover, #mergeButton:hover, #splitButton:hover {
  background-color: #f2711c !important;
}

#submitEdit {
  color: #d67664;
}

.tooltip {
  margin-left: auto;
  margin-right: 10;
}

.tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: white;
  border-style: solid;
  border-width: 0px;
  text-align: justify;
  border-radius: 3px;
  padding: 10px 3px 0px 5px;
  color: black;

  /* Position the tooltip */
  position: absolute;
  z-index: 1000;
  top: 0px;
  right: 5%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#convertImageToSbgnVideo, #mergeSplitVideo {
  color: #d67664;
}

#objectData h4 {
  display: inline-block;
  margin-bottom: 0px;
}

#objectField h3 {
  display: inline-block;
  margin-bottom: 0px;
}

#objectField {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 20%;
  z-index: 1000;
}
#objectView {
  position: relative;
  margin-top: 5px;
  width: 100%;
  height: 100px;
  opacity: 0.8;
}
#editField {
  position: absolute;
  bottom: 0px;
  left: 20px;
  width: 70%;
  z-index: 1000;
}