#menuSection {
  left: 10;
  top: 65;
  width: 700;
}

#inputImage {
  max-width: 100%;
  max-height: 300px;
}

#imageContent {
  max-width: 100%;
  max-height: 100%;
}

#cySection {
  position: absolute;
  left: 710;
  top: 38;
  right: 5;
}

#cy {
  position: relative;
  left: 0;
  top: 0;
  height: 625;
  margin-right: 10;
  margin-bottom: 10;
  z-index: 999;
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: 1px;
}

h1 {
  opacity: 0.5;
  font-size: 1.15em;
  font-weight: bold;
}

#downloadSBGNML:hover {
  background-color: #eaeaea !important;
  border-radius: 3px;
  cursor: pointer;
}

#applyLayout:hover {
  background-color: #eaeaea !important;
  border-radius: 3px;
  cursor: pointer;
}

#openNewt:hover {
  background-color: #eaeaea !important;
  border-radius: 3px;
  cursor: pointer;
}

#processData {
  background-color: #d67664;
}

#processData:hover {
  background-color: #f2711c !important;
}

.tooltip {
  margin-left: auto;
  margin-right: 10;
}

.tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: white;
  border-style: solid;
  border-width: 0px;
  text-align: justify;
  border-radius: 3px;
  padding: 3px 5px;
  color: black;

  /* Position the tooltip */
  position: absolute;
  z-index: 1000;
  top: 0px;
  right: 5%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#objectData h3 {
  display: inline-block;
  margin-bottom: 0px;
}